html {
    font-size: 62.5%;
}

:root {
    --primaryColor: #bd7438;
    --textColor: #E9E8E8;
    --orangeColor: #B26c36;
}

.first-image {
    min-height: 100vh;
    background: url('../images/first-section-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.first-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.first-container-wrapper {
    width: 80%;
    margin: auto;
}

nav {
    min-height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: 'Lato', sans-serif;
}

.hyperlinks {
    font-size: 1.5rem;
    color: var(--textColor);
    font-weight: bolder;
    text-transform: uppercase;
}

.hamburger {
    display: none;
}

.hamburger > div {
    width: 30px;
    height: 2px;
    background: #E9E8E8;
    margin: 6px;
}

/* login and contact buttons */

.Log-in-button {
    padding: 5px 15px;
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    background: var(--primaryColor);
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.Log-in-button:hover {
    background: #94582a;
}

.main-section-in-first-look {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.first-look {
    text-align: center;
    color: #E9E8E8;
}

.big-title {
    font-size: 14rem;
    font-weight: lighter;
    letter-spacing: 3rem;
    text-transform: uppercase;
}

.small-title {
    font-size: 4.5rem;
    font-weight: lighter;
    color: var(--orangeColor);
    text-transform: uppercase;
    margin-top: 30px;
    /* remember */
}

.social-media {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

/* intro animation with keyFrames */

/* .intro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: introsection 1.5s ease 1.9s forwards;
} */

/* .intro-text {
    font-family: 'Roboto', sans-serif;
}

.main-intro-text {
    color: var(--textColor);
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    transform: translateY(100%);
}

.hide {
    background: #000;
    overflow: hidden;
} */

/* .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primaryColor);
    transform: translateY(100%);
    animation: slider 1.6s ease 1.5s forwards;
    z-index: 50;
} */



/* @keyframes textpopup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes introsection {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slider {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
} */
