html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
}

p {
    font-size: 1.5rem;
}

:root {
    --primaryColor: #bd7438;
    --textColor: #E9E8E8;
    --orangeColor: #B26c36;
    --blackColor: #0C0C0C;
}

.first-image {
    min-height: 100vh;
    background: url('../images/first-section-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.first-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    min-height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.hyperlinks {
    font-size: 1.5rem;
    color: var(--textColor);
    font-weight: bolder;
    text-transform: uppercase;
}

.hamburger {
    position: absolute;
    top: 6%;
    right: 10%;
    cursor: pointer;
    z-index: 80;
    display: none;
}

.hamburger > div {
    width: 30px;
    height: 2px;
    background: #E9E8E8;
    margin: 6px;
    transition: transform 0.3s ease;
}

/* login and contact buttons */

.Log-in-button {
    padding: 5px 15px;
    display: inline-block;
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    border: 0.1rem solid var(--primaryColor);
    border-radius: 3px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.buttons {
    display: inline-block;
}

.Log-in-button:hover {
    transform: scale(0.98);
}

.color-change-contact-button {
    border: 0.1rem solid #0e4f75;
}

.main-section-in-first-look {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.first-look {
    text-align: center;
    color: #E9E8E8;
}

.big-title {
    font-size: 14rem;
    font-weight: lighter;
    letter-spacing: 3rem;
    text-transform: uppercase;
}

.small-title {
    font-size: 4.5rem;
    font-weight: lighter;
    color: var(--orangeColor);
    text-transform: uppercase;
    margin-top: 30px;
    /* remember */
}

.social-media {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

/* intro animation with keyFrames */

.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: introsection 1.5s ease 1.9s forwards;
}

.intro-text {
    font-family: 'Roboto', sans-serif;
}

.main-intro-text {
    color: var(--textColor);
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    transform: translateY(100%);
}

.hide {
    background: #000;
    overflow: hidden;
}

.slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primaryColor);
    transform: translateY(100%);
    animation: slider 1.6s ease 1.5s forwards;
    z-index: 99999;
}

/* second container */
.second-wrapper {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.featured-trip-image {
    width: 40%;
}

.container-title {
    font-size: 5rem;
    color: var(--blackColor);
    letter-spacing: 5px;
    position: relative;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.container-title::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 60%;
    height: 6px;
    background: var(--blackColor);
}

.featured-trip-image-and-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-trip-text {
    font-size: 1.5rem;
    color: var(--blackColor);
    padding: 0rem 5rem;
}

/* third section deals */
.second-image {
    min-height: 100vh;
    background: url('../images/111.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}

.second-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.container-for-deals {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.deals-title {
    font-size: 5rem;
    color: var(--textColor);
    letter-spacing: 5px;
    position: relative;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#deals-title-change {
    color: var(--textColor);
}

.first-deals-cont, .second-deals-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.deals-image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.box {
    width: 250px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.box:hover .deals-image {
    transform: scale(1.05);
}

.cost {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--primaryColor);
    padding: 5px;
    color: #fff;
    font-size: 1.4rem;
}

.small-info-daels {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.small-info-daels h3,p {
    color: var(--textColor);
}

.small-info-daels h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.see-more-btn {
    padding: 10px 30px;
    color: var(--textColor);
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #BC7942;
    border: 1px solid #BC7942;
    display: inline-block;
    transition: all 0.3s ease;
}

.see-more-btn:hover {
    transform: scale(0.98);
    background: none;
}

#sale {
    text-decoration: line-through;
    color: #000;
}

/* <--------()------->*/

.container-about-us {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.about-us-info p, .deals-title{
    color: var(--blackColor);
    font-weight: bold;
    padding: 2rem 0rem;
}

.about-us-info p {
    font-weight: lighter;
}

.about-us-info{
    width: 50%;
    padding: 3rem;
}

.about-us-image {
    width: 400px;
    height: 550px;
}

.about-img {
    width: 100%;
    height: 100%;
}

.view-details-btn {
    padding: 10px 30px;
    color: var(--textColor);
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--blackColor);
    border: 1px solid var(--blackColor);
    display: inline-block;
    transition: all 0.4s ease;
}

.view-details-btn:hover {
    transform: scale(0.98);
    background: none;
    color: var(--blackColor);
}

/* last section reviews */

.review-section-image {
    min-height: 100vh;
    background: url('../images/review-section-image.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}

.review-section-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.reviews-wrapper {
    font-family: 'Poppins', sans-serif;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-footer {
    font-family: 'Poppins', sans-serif;
}

.creator {
    font-size: 1.5rem;
    color: var(--textColor);
}

.main-footer {
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-box {
    min-height: 300px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user-name {
    font-size: 2.5rem;
    color: var(--blackColor);
}

.user-img {
    width: 100%;
    height: 100%;
}

.rate-star {
    fill: rgb(200, 200, 6);
}

.scroll-button {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--primaryColor);
    background: var(--primaryColor);
    transition: background 0.3s ease;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}

.scrollbuttonFade {
    opacity: 1;
    pointer-events: all;
}

.scroll-button:hover {
    background: #bd7438d2;
}

#for_scroll_top {
    fill: var(--blackColor);
}

@keyframes textpopup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes introsection {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slider {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 768px) {
    .big-title {
        font-size: 4rem;
        letter-spacing: 1rem;
    }
    .review-box {
        min-height: 150px;
        margin: 1.5rem;
    }
    
    .main-intro-text {
        font-size: 3rem;
    }

    .small-title {
        font-size: 2rem;
        initial-letter: 0.5rem;
        margin-top: 10px;
    }
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #05141f;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
        pointer-events: none;
        transform: scaleY(0);
        z-index: 99;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 6%;
        right: 10%;
        cursor: pointer;
        z-index: 999;
    }
    .reviews-wrapper {
        flex-wrap: wrap;
    }
    .social-media {
        width: 100%;
        justify-content: space-evenly;
    }
    .featured-trip-image-and-text {
        flex-wrap: wrap;
    }
    .featured-trip-image, #responsive-display, .about-us-image {
        display: none;
    }
    .deals-title, .container-title {
        font-size: 3rem;
    }
    .second-deals-cont {
        flex-direction: column;
    }
    .container-about-us {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-us-info{
        width: 100%;
    }
}

.nav-links-open {
    transform: scaleY(1);
    pointer-events: all;
}

.hamburger-line .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-line .line2 {
    opacity: 0;
}

.hamburger-line .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}